<div class="cart">
  <h1>Warenkorb</h1>
  <button class="close-cart-button">Close Cart</button>
  <div class="cart-content"></div>
  <div class="cart-total-box">
    <div>
      <div>Zwischensumme:</div>
      <div class="sub-total">0€</div>
    </div>
    <div>
      <div>Versandkosten:</div>
      <div class="shipping-costs">5€</div>
    </div>
    <div>
      <div>Gesamtbetrag:</div>
      <div class="total">0€</div>
    </div>
  </div>
</div>